{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Заметка</th>
                        <th scope="col">Теги</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for note in notes %}

                        <tr>
                            <th scope="row">{{ note.id }}</th>
                            <td>{{ note.text }}</td>
                            <td>
                                {% for tag in note.tags %} {# TODO: fix N+1#}
                                    #{{ tag.title }},
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock body %}